<strong>Olá, {{ creator }}.</strong>
<p>Seu Meetup "{{ meetup }}" recebeu mais um iscrito:</p>
<p>
  <strong>Nome: </strong><i>{{ user }}</i><br />
  <strong>Email: </strong><i>{{ email }}</i><br />
  <br />
  <small>
    Torcemos para que o seu Meetup seja um sucesso!
  </small>
</p>
